 
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1a1a1a;
            color: #ffffff;
        }
        .container {
            min-height: 100vh;
            width: 100%;
         }
        main{
            padding: 10px;
            padding: 10px;
        }

        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3vw 4vw;
        }

        .navlist{
            display: flex;
            list-style-type: none;
            text-decoration: none;
            column-gap: 20px;
        }

        .navlist a {
            text-decoration: none;
            color: white;
            column-gap: 30px;
        }
        .main-content{
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
            padding: 3vw 4vw ;
           

        }
       
        header {
            display: flex;
          
            flex-direction: column;

            /* padding: 2rem 0; */
        }
       header h1 {
            font-size: 3rem;
         
            /* opacity: 0; */
        
        }
      header p {
            font-size: 1.2rem;
  
            
            font-weight: 300;
        }
 

       .aboutme p{
            font-size: 1.2rem;
            line-height: 1.5;
           width: 450px;
            font-weight: 300;
            text-align: center;
        }
        .skills {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
      
        }
        .skill {
            background-color: #333;
            padding: 1rem;
            margin: 0.5rem;
            border-radius: 5px;
            /* opacity: 0; */
        }

        @media screen and (max-width:500px) {
            .main-content{
                flex-direction: column;
                row-gap: 20px;
            }

            .aboutme p{
              
                font-weight: 400 ;
                width: 100%;            }
          .intro p{
                font-size: 1.2rem
            }
            .intro{
                margin-bottom: 20px;
                text-align: center;
                margin-top: 20px;
            
            }
        }